/*----grid for tablet----*/
@media all and (max-width: 822px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 { width: 100%;}
			
		#menu-icon {
 	display: hidden;
 }
	.banner h1 {
		position: absolute;
		width: 90%;
		top: 15%;
		font-family:'Mistral' !important;
		font-weight:normal;
		font-size: 90px;
		text-align: center;
		color: #FFFFFF;
		opacity: 0.5;
	}

	
	.main-articles-index {
		display: block;
	}

	.article-image {
		display: block;
		padding: 30px;
		margin: 0 0 10px 0;
		clear: both;
		float: none;
	}
	
	.story-image img {
		display: block;
		margin:  155px auto 0 auto;
	}
	
	.about-image {
		right: 20px;
		position: absolute;
		top: 20px;
		margin: 0;
		width: 150px;
	}
	
	.about-info {
		padding: 80px;
	}
	
	.time-images .img1 img {
		width: 180px;
	}
	.time-images .img2 img {
		width: 180px;
	}
	.time-images .img3 img {
		width: 180px;
	}
	
	.connect-image {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
		clear: both;
	}
	.connect-image img {
		display: none;
	}
	
	h2.img-title {
		position: static;
		width: 100%;
		font-family: "Open-Sans-Condensed", sans-serif;
		margin: 0;
		padding: 20px;
		text-align:center;
		float: none;
	}
	.connect-image p {
		justify-content: center;
		text-align: center;
		width: 100%;
		position: relative;
		right: 0;
		padding: 0 20px 20px 20px;
	}
	
	.connect-main {
	  width: 100%;
	  height: auto;
	  background-color: #d1dd9f;
	}
	
	input.submit {
		background-color: #262525;
		border: none;
		color: #f9f2f3;
		width: 200px;
		height: 50px;
		padding: 5px 10px;
		margin: 140px 250px 0 0;
		display: block;
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	.end h3:first-child{

		display: inline-block;
		padding-left: 0;
		margin: 0;
	}
	.end h3{

		display: inline-block;
		padding-left: 50px;
		margin: 0;
	}

}


/*----grid for mobile----*/
@media all and (max-width: 400px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
	
	.container {
		width: 100%;
		margin: 0;
		background-color: #f9f8f7;
	}
	
	
	
	nav ul {
		float: left;
		padding:0;
		margin:0;
		list-style: none;
		position: relative;
		top: 30px;
	}
	nav ul li {
		margin: 0px;
		width: 100%;
		display: block;
		float: left;
	}
	nav a {
		font-family:'Open Sans', sans-serif;
		font-size: 18px;
		text-decoration: none;
		float: left;
		padding: 0 15px;
		color: #f2efef;
		line-height: 40px;
		width: 100%;
		position:relative;
		z-index: 999999;
	}
	



	#menu-icon {
 display:inline-block;
 float: right;
 }
 
 nav ul, nav:active ul { 
 display: none;
 position: absolute;
 padding: 20px;
 background: black;
 right: 0px;
 top: 76px;
 width: 35%;
 margin: 0;
 }
 
 nav:hover ul {
 display: block;
 }
 
 nav li {
 text-align: center;
 width: 100%;
 padding: 15px 0;
 margin: 0;
 }


	.banner h1 {
		position: absolute;
		width: 90%;
		top: 35% !important;
		font-family:'Mistral' !important;
		font-weight:normal;
		font-size: 75px !important;
		text-align: center;
		color: #FFFFFF;
		opacity: 0.5;
	}

	.storytime {		
		padding: 0 20px 0 20px;
	}
	
	.banner h1 {
		position: absolute;
		width: 100%;
		top: 10%;
		font-family:'Mistral' !important;
		font-weight:normal;
		font-size: 155px;
		text-align: center;
		color: #FFFFFF;
		opacity: 0.5;
	}

	.main-articles-index {
		display: block;
	}

	.article-image {
		display: block;
		padding: 30px;
		margin: 0 0 10px 0;
		clear: both;
		float: none;
	}
	
	.story-image img {
		display: block;
		margin:  155px auto 0 auto;
	}
	
	.about-image {
		right: 20px;
		position: absolute;
		top: 20px;
		margin: 0;
		width: 100px;
	}
	
	.about-info {
		padding: 40px;
	}
	
	.time-images .img1 img {
		width: 120px;
	}
	.time-images .img2 img {
		width: 120px;
	}
	.time-images .img3 img {
		width: 120px;
	}
	
	.connect-image {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
		clear: both;
	}
	.connect-image img {
		display: none;
	}
	
	h2.img-title {
		position: static;
		width: 100%;
		font-family: "Open-Sans-Condensed", sans-serif;
		margin: 0;
		padding: 20px;
		text-align:center;
		float: none;
	}
	.connect-image p {
		justify-content: center;
		text-align: center;
		width: 100%;
		position: relative;
		right: 0;
		padding: 0 20px 20px 20px;
	}
	
	.connect-main {
	  width: 100%;
	  height: auto;
	  background-color: #d1dd9f;
	}
	

	input#email {
		position: relative;
		float: right;
		right: 30px;
		width: 300px;
		margin-top: 30px;
		text-align: center;
		border: none;
		border-radius: 10px;
		background-color: whitesmoke;
		padding: 20px;
		font-size: 17px;
	}
	textarea {
		position: relative;
		float: right;
		left: -35px;
		top: 50px;
		width: 300px;
		height: 250px;
		text-align: center;
		border: none;
		border-radius: 10px;
		font-size: 17px;
		background-color: whitesmoke;
	}
	input.submit {
		background-color: #262525;
		border: none;
		color: #f9f2f3;
		width: 200px;
		height: 50px;
		padding: 5px 10px;
		margin: 90px 100px 0 0;
		display: block;
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	
	.end {

		position:relative;
		top: -10px;
	}
	
	.end h3:first-child{

		display: inline-block;
		padding-left: 0;
		margin: 0;
	}
	.end h3{

		display: inline-block;
		padding-left: 15px;
		margin: 0;
	}
}

